*{
  margin: 0;
  padding: 0;
}



.footer{
  background-color: rgb(206, 24, 24);
  text-align: center;
  margin-top: 40px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 010;
  box-shadow: 2px 1px 20px rgb(30, 29, 29);

}

.logo-instagram{
  margin-top: 20px;
  color: #ffffff;
}
.logo-facebook{
  margin-top: 20px;
  color: #ffffff;

}