*{
    margin: 0;
    padding: 0;
  }
  
  h1{
    text-align: center;
  }
  .div-productos{
    align-items: center;
    gap: "30px";
.card{
    max-height: 50rem;
    min-height: 25rem;
}
  }
  .Card-List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    align-items: center;
    margin-top: 30px;
    margin-left: 13%;
    margin-right: 13%;
    gap: 50px;
    
        
  }

.card{
  box-shadow: 3px 2px 10px rgb(245, 76, 29);

}